body {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

#loadingMessage,
#outputMessage {
    text-align: center;
    margin-top: 20px;
}

#canvas {
    margin-top: 20px;
}

#decodedContent {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

#passwordDialog {
    display: none;  /* Initially hidden */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}